main{
    text-align: center;
}
h1{
    font-size: 50px;
    font-weight: 500;
}
h1 span{
    color: #04aeec;
}
p{
    color: #5e5a5a;
    font-size: 20px;
}
.button{
    display: flex;
    justify-content: center;
}
.btn{
    height: 50px;
    width: 150px;
    background-color: #2c3033;
    color: white;
    border-radius: 5px;
    margin: 0px 10px;
    font-size: 22px;
}