h1{
    text-align: center;
}
.lists-feedback{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feedback-item{
    display: flex;
    width: 30%;
    margin: 50px 0px;
}
.photo{
    width: 65px;
    height: 65px;
    border-radius: 50%
}
.content{
    margin-left: 20px;
}
.feedback-content{
    padding: 0px 0px;
    margin: 0px 0px 10px 0px;
    max-width: 250px;
}
.feedback-content i {
    color: #5f5e5e;
}
.author{
    margin-top: 20px;
    color: #5f5e5e;

}
